div.count {
    height: 20%;
    width: 100%;
    background-color: powderblue;
    border: black solid 2px;
}

b.header {
    color: crimson;
    font-size: 25px;
}

div.main_button {
    border: crimson 2px solid;
    font-size: 25px;
    display: inline;
}

div.tags {

    font-size: 20px;
    display: inline;
}

div.color_border_gray {
    margin-left: 20px;
    border: gray 2px solid;
}

div.color_border_red {
    margin-left: 20px;
    border: fuchsia 2px solid;
}

p.sections_name {
    display: inline;
}

.inner {
    width: 50%;
    margin: 0 auto;
}

div.footer_main {
    margin: 200px 200px 200px 200px;
}

div.search_border {
     margin: 50px 100px 100px 50px;
}

.top-buffer { 
    margin-top:80px; 
}