<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   {% load static %}
    <!-- Material boostrap wizard -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'js/jquery.bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>

    
    <link rel="stylesheet" href="{% static 'css/material-bootstrap-wizard.css' %}">
    <script src="{% static 'js/material-bootstrap-wizard.js' %}"></script>
    
    <!--     Fonts and icons     -->
    
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- mdl-->
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
   
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <!--
    some comment
    some text
   -->
    <!-- Datepicker -->

    <link rel="stylesheet" href="{% static 'css/bootstrap-material-datetimepicker.css' %}" />
    <script src="{% static 'js/bootstrap-material-datetimepicker.js' %}"></script>
    <title>Вспомним их поименно</title>
    <!-- CSS Files -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
        <b class="header" ><h1 class="inner" >Вспомним их поименно</h1></b>
        {%  block title %}
        {% endblock %}

         <div>
        {% block content %}
        {% endblock %}
         </div>
         <div class="footer_main inner">
        <p>Информация для пользователей:</p>
        <ol>
            <li>
                эксперты имеют право вносить информацию на основе поисков и имеющихся в наличии документов
            и свидетельств, отдельно по любому разделу. При этом в дальнейшем это привдедет к связи с персоналиями
            </li>
            <li>
                разыскивающие своих родственников имеют возможность начать поиск по любому потвержденному этапу судьбы, либо по сопоставлению судеб земляков, однополчан
            </li>
        </ol>
        <p>
            Все действия в столь массовых и масштабных событиях имели определенную структуру и правила. Исключениями могли быть лишь отдельные судьбы
        </p>
        </div>
        <div><h1>Успехов в поиске</h1></div>
<div class="count"></div>
<script type="text/javascript">
    $(document).ready(function()
    {
        $('#date_birthday').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });

    $(document).ready(function()
    {
        $('#date_mobilization').bootstrapMaterialDatePicker
        ({
            time: false,
            clearButton: true,
            lang: 'ru'
        });
    });
</script>
</body>
</html>