{% extends 'base.html' %}

{% block title %}

       <div class="inner">
        <div class="search_border">
            <div class="main_button"><a href="{% url 'index' %}"><b>Поиск</b></a></div>
           <h1>Ввод данных</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form action="{% url 'data_input' %}">
        
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" value="" placeholder="Имя" name="name" class="form-control">
            </div>
        </div>
    
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" value="" placeholder="Фамилия" name="surname" class="form-control">
            </div>
        </div>
        <!--
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" id="date_birthday" class="form-control floating-label" placeholder="Дата рождения"  name="birthday">
            </div>
        </div>
        -->
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" value="" placeholder="Возможные искажения фамилии" name="surname_distortion" class="form-control">
            </div>
        </div>
        <!--
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" id="date_mobilization" class="form-control floating-label" placeholder="Дата мобилизации"  name="date_mobilization">
            </div>
        </div>
        -->
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" value="" placeholder="Военкомат" name="military_office_name" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" value="" placeholder="Адрес военкомата" name="military_office_adress" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" value="" placeholder="Призывная команда" name="draft_team_name" class="form-control">
            </div>
        </div>
    </form>
{% endblock %}